:root {
	--mid-green: #BBD0B3;
	--light-green: #DDE7C8;
	--bone-white: #F4F2EE;
	--mid-blue: #99AED0;
	--mid-grey: #6D7D8B;
	--text-black: #1A1F16;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	background: var(--mid-blue);
	color: var(--text-black);
	display: flex;
	flex-direction: column;

}

main {
    flex: 1;
    padding: 20px;
    background-color: var(--bone-white);
}
   
}

/*header*/
h1 {
	color: var(--text-black);
	text-align: left;
}

footer {
	text-align: center;
	padding: 20px;
}

/*navigation bar*/
nav {
	padding: 20px 0;
	text-align: center;
	margin-left: 20px;
}

nav a {
	text-decoration: none;
	padding: 10px;
	font-weight: bold;
	color: var(--text-black);
}

nav a.active {
	text-decoration: none;
	padding: 10px;
	font-weight: bold;
	color: var(--mid-green);
	background: var(--mid-grey);
	border-radius: 5px;

}

nav a:not(.active):hover {
	color: var(--text-black);
	background-color: var(--mid-green);
	border-radius: 5px;
}

.container {
	text-align: left;
	padding: 20px;
	background-color: var(--bone-white);
	color: var(--text-black);
	margin: 20px 0;
}

.page-layout {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 250px;
    background-color: var(--mid-grey);
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    margin-top: 0;
    color: var(--bone-white);
}

.sidebar a {
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    color: var(--bone-white);
    text-decoration: none;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: var(--mid-green);
    color: var(--text-black);
}

.sidebar a.active {
    background-color: var(--mid-blue);
    color: var(--text-black);
    font-weight: bold;
}
