:root {
	--mid-green: #BBD0B3;
	--light-green: #DDE7C8;
	--bone-white: #F4F2EE;
	--mid-blue: #99AED0;
	--mid-grey: #6D7D8B;
	--text-black: #1A1F16;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	background: var(--mid-blue);
	color: var(--text-black);
	display: flex;
	flex-direction: column;

}

/*header*/
h1 {
	color: var(--text-black);
	text-align: left;
}

footer {
	text-align: center;
	padding: 20px;
}

/*navigation bar*/
nav {
	padding: 20px 0;
	text-align: center;
	margin-bottom: 20px;
}

nav a {
	text-decoration: none;
	padding: 10px;
	font-weight: bold;
	color: var(--text-black);
}

nav a.active {
	text-decoration: none;
	padding: 10px;
	font-weight: bold;
	color: var(--mid-green);
	background: var(--mid-grey);

}

nav a:not(.active):hover {
	color: var(--text-black);
	background-color: var(--mid-green);

}

.container {
	text-align: left;
	padding: 20px;
	background-color: var(--bone-white);
	color: var(--text-black);
	margin: 20px 0;
}
