:root {
	--mid-green: #BBD0B3;
	--light-green: #DDE7C8;
	--bone-white: #F4F2EE;
	--mid-blue: #99AED0;
	--mid-grey: #6D7D8B;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	background: var(--mid-blue);
	color: var(--mid-grey);
	display: flex;
	flex-direction: column;

}